name: Generate ASCII Artwork Script

on: push

jobs:
  ascii_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        
      - name: List and Read file
        run: ls -ltra


      - name: Executing Shell Script
        run: |
          chmox +x ascii-script.sh
          ./ascii-script.sh